body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("img/agelogo-round.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  /* margin-top: 90px; */
  height: 100%;
  bottom: 90px;
  font-family: "Gill Sans", sans-serif;
}

.agedescription {
  color: black;
  font-size: 20pt;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0px 10px 00px 10px;
}
/* body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("img/agelogo-round.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */
.main {
  position: relative;
  padding: 100px 0px 0px 0px;
  /* height: 100vh;
  width: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.main::before {
  content: "";
  background-image: url("img/age-light-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* gotta fix the backtround logo jumpin around when scrolling on mobile */

  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}
/* @media (min-width: 768px) {
  .main::before {
    background-image: url("img/agelogo-round.JPG");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    height: 100vh;
    width: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 725px;
  }
} */
@media (max-width: 768px) {
  body {
    height: 100vh;
  }
}

/* EVENTCARD */

h3 {
  position: relative;
  color: #000000;
  line-height: 0.9;
  text-align: left;
}

p {
  position: relative;
  color: #000000;
  line-height: 0.9;
  text-align: center;
}
.event-card {
  background-color: rgba(247, 247, 247, 0.8);
  padding: 30px 0px 30px 0px;
}
.event-card-title {
  text-align: center;
}
/* .event-card-body {
} */
.event-card-links {
  display: flex;
  justify-content: center;
}

/* NAVBAR */

.bannerlogo {
  align-items: center;
  justify-content: center;
}

.navbar {
  font-size: 30px;
  border: 2px black;
  position: relative;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* MAINVIEW */
/* .logoback {
  opacity: 0.7;
} */

.event-one {
  color: #222;
}

/* SOCIALSVIEW */

.socials {
  padding: 100px 0px 0px 0px;
}

.socials-text {
  color: white;
}

.socials {
  display: flex;
  justify-content: center;
}
